<!DOCTYPE html>
<html>
<head>
  <title>Gadgets</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%# -- Navigation bar -- %>
  <div class="container navbar">
    <div class="brand">
      <%= link_to t('.brand'), root_path %>
    </div>
    <% if user_signed_in? %>
      <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'btn' %>
    <% end %>
  </div>
  <%# -- Navigation bar -- %>
  
  <div class="container">
    <p class="notice alert-info"><%= notice %></p>
    <p class="alert-danger"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
